{% extends "layout.html" %}
{% block body %}

<!-- for table version ... .....  -->
<!-- <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    button {
        background-color: #04AA6D;
        color: white;
        /* padding: 14px 20px;
        margin: 8px 0; */
        border: none;
        cursor: pointer;
        /* width: 100%; */
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }
</style> -->

<style>
    #inputOTP {
        width: 40%;
        box-sizing: border-box;
    }
    .mt-5 { margin-top: 3rem !important; }
</style>

<!-- <h2>Welcome {{Data.name}}..as by session {{x}}</h2> -->

<br>
<br>
<h1 class="text-center">Welcome Dr. {{Data.name}} <br> ENTER PATIENT's ACCOUNT by session {{x}}</h1>
<form class="modal-content" name="sent_message" id="contact_form" action="/otp-verification" method="post" novalidate>
<div class="bd p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="uname">
        <label for="floatingInput">Patient's Username</label>
    </div>
    <br>
    <div class="input-group input-group-sm" id="inputOTP">
    <br>
    <button type="submit" class="btn btn-primary" class="text-center">Send OTP</button>
</div>
</form>
<div class="input-group input-group-sm">
    <button type="submit" class="btn btn-primary" class="text-center" style="margin-top: 5%;" > <a href="/logout">Logout</a></button>
</div>

<!-- <table>
    <tr>
        <th>Serial No.</th>
        <th>By Doctor</th>
        <th>Content</th>
        <th>Date Time</th>
        <th>Files</th>
        <th></th>
    </tr> 
    <tr>
        <td>{{Data.sno}}</td>
        <td>{{Data.name}}</td>
        <td>{{Data.content}}</td>
        <td>{{Data.date_time}}</td>
        <form action="/uploader" method="POST" enctype="multipart/form-data">
            <td><input type="file" id="myFile" name="file"></td>
            <td><button type="submit" >upload</button></td>
        </form>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
    <tr>
        <td>Ernst Handel</td>
        <td>Roland Mendel</td>
        <td>Austria</td>
    </tr>
</table> -->
{% endblock %}